<%- layout('layouts/main.ejs')%>
<h1>Usuario:<%=user.email %></h1>

    <div class="card">
       <h5 class="card-header">Crear pregunta</h5>
       <div class="input-group">
        <div class="input-group mb-3">
            
            <textarea class="form-control" aria-label="With textarea"></textarea>
            <button class="btn btn-outline-success" type="submit"><i class='bx bxs-send' ></i></button>
          </div>
       
        
      </div>  
     </div>


   
